@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid #000; */
    word-break: keep-all;
}

.inner1400 {
    width: 1400px;
    margin: 0 auto;
}


/* header */
header {
    display: flex;
    align-items: center;
    height: 100px;
    background: #000;
}

.top {
    display: flex;
}

.logo {
    width: 130px;
    height: 72px;
    background: url(./Asset\ 1.png) no-repeat;
    background-size: cover;
}

.menu {
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 780px;
}

.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 39px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.menu a:nth-child(1) {
    margin: 0 50px 0 0;
}

.menu a:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 39px;
    text-decoration: none;
    color: #6D6D6D;
    font-size: 25px;
    background: #fff;
    border-radius: 5px;
}

.bt_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my_bt {
    width: 116px;
    height: 41px;
    background: #0057bb;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 30px;
}

.my_minwon a {
    color: white;
    text-decoration: none;
}

.my_minwon strong {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my_minwon span {
    font-size: 11px;
}

.my_minwon a:hover {
    color: white;
    text-decoration: 1px solid underline;
}

.logout {
    display: none;
}

.logout a {
    color: white;
    text-decoration: none;
}

.logout strong {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logout a:hover {
    color: white;
    text-decoration: 1px solid underline;
}
/* header */


/* sec1 */
.sec1{
    display: none;
}

.sec1 .inner1400 {
    height: 920px;
}

.sec1 h1 {
    height: 80px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content_box {
    display: flex;
}

.info_write {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
}

.singo_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    padding: 0 5px;
    border-collapse: collapse;
}

.right h2 {
    font-size: 16px;
    margin-left: 10px;
}

/*스크롤*/
.right::-webkit-scrollbar {
    width: 3px;
}

.right::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
    background-clip: padding-box;
    border-radius: 10px;
}

.right::-webkit-scrollbar-track {
    background-color: #fff; 
}
/*스크롤*/

.right p {
    font-size: 11px;
    margin: 10px 0 0 0;
}


.sec1 .title { 
    width: 420px;
    height: 40px;
    background: #D0D0D0;
    border-radius: 5px;
    line-height: 40px;
    margin: 10px 0;
}

.sec1 .title:nth-child(1) {
    margin: 0 0 10px 0;
}


.search {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search select {
    margin: 0 10px 0 0;
    padding: 5px;
}


th {
    width: 100px;
    font-size: 13px;
    text-align: right;
}

.info_write td {
    width: 290px;
    font-size: 13px;
    border-right: none;
}

th, td {
    border-bottom: 1px solid #D2D2D2;
    border-right: 1px solid #D2D2D2;
    padding: 10px;
}

/* 등종류, 표찰번호, 설치주소 */
.garo1 {
    display: none;
}

.garo2 {
    display: none;
}

.garo3 {
    display: none;
}

.garo4 {
    display: none;
}
/* 등종류, 표찰번호, 설치주소 */

.bt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.bt p {
    margin: 10px 10px 10px 10px;
}

.bt input {
    /* width: 50px; */
    /* height: 18px; */
    font-size: 11px;
    padding: 3px 10px;
}


.photo_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.photo1 {
    width: 172px;
    height: 235px;
    margin: 0 10px 0 0;
}

.photo2 {
    width: 172px;
    height: 235px;
}

/* 포토 세트 */
.photo_box.n1 .photo1 {
    background: url(./등\ 근거리\ 사진jpg.jpg) no-repeat;
    background-size: cover;
}

.photo_box.n1 .photo2 {
    background: url(./등\ 원거리\ 사진.jpg) no-repeat;
    background-size: cover;
}

.photo_box.n2 .photo1 {
    background: url(./등\ 근거리\ 사진jpg.jpg) no-repeat;
    background-size: cover;
}

.photo_box.n2 .photo2 {
    background: url(./등\ 원거리\ 사진.jpg) no-repeat;
    background-size: cover;
}

.photo_box.n3 .photo1 {
    background: url(./등\ 근거리\ 사진jpg.jpg) no-repeat;
    background-size: cover;
}

.photo_box.n3 .photo2 {
    background: url(./등\ 원거리\ 사진.jpg) no-repeat;
    background-size: cover;
}

.photo_box.n4 .photo1 {
    background: url(./등\ 근거리\ 사진jpg.jpg) no-repeat;
    background-size: cover;
}

.photo_box.n4 .photo2 {
    background: url(./등\ 원거리\ 사진.jpg) no-repeat;
    background-size: cover;
}

.photo_box.n1 {
    display: none;
}

.photo_box.n2 {
    display: none;
}

.photo_box.n3 {
    display: none;
}

.photo_box.n4 {
    display: none;
}
/* 포토 세트 */

input[type="text"] {
    width: 60px;
    padding: 5px;
}

.mobile, .tel {
    font-size: 12px;
}

input[type="tel"] {
    font-size: 12px;
}

input[type="password"] {
    width: 86px;
    text-align: center;
    padding: 3px 5px;
}

.search input[type="text"] {
    width: 200px;
    padding: 5px;
}

.mobile {
    width: 60px;
    text-align: center;
    padding: 4px 6px;
}

.tel {
    width: 60px;
    text-align: center;
    padding: 4px 6px;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.problem {
    padding: 5px;
}

textarea {
    width: 209px;
    height: 80px;
    padding: 6px 6px;
}

.persnal_info {
    outline: 1px solid #000;
}

/* tr:nth-child(5) td {
    display: flex;
    align-items: center;
} */

tr:nth-child(5) td p {
    margin: 8px 0 0 10px;
    display: inline-block;
    line-height: bottom;
    vertical-align: bottom;
}

/* sec1 */





/* sec2 */

.sec2 .inner1400 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: calc(100vh - 180px); */
    height: 909px;
}

.sec2 h1 {
    font-size: 35px;
    width: 1000px;
    border-bottom: 2px solid #E2E1E1;
    padding-bottom: 20px;
}

.sec2 h2 {
    font-size: 20px;
    width: 1000px;
    padding-top: 20px;
}

.notice p {
    font-size: 16px;
    padding-top: 10px;
}

.login_img {
    background: url(./login_icon.png);
    /*"https://www.flaticon.com/kr/free-icons/" title="로그인 아이콘">로그인 아이콘  제작자: Pixel perfect - Flaticon*/
    background-size: cover;
    width: 100px;
    height: 100px;
    margin: 80px 0 0 0;
}

.ganpyeon_bt {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    width: 450px;
    height: 130px;
    background: #3C67D6;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;  
}

.ganpyeon_bt:hover {
    text-decoration: 2px solid underline;
    font-size: 30px;
    font-weight: bold;
    width: 450px;
    height: 130px;
    background: #3C67D6;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;  
}

.sec2 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app_icon {
    display: flex;
}

.card {
    padding: 10px 5px;
}

.kakao {
    width: 35px;
    height: 35px;
    background: url(./간편인증아이콘/kakao.png) no-repeat;
    background-size: cover;
}

.pass {
    width: 35px;
    height: 35px;
    background: url(./간편인증아이콘/PASS.png) no-repeat;
    background-size: cover;
}

.kb {
    width: 35px;
    height: 35px;
    background: url(./간편인증아이콘/KB.png) no-repeat;
    background-size: cover;
}

.samsung {
    width: 35px;
    height: 35px;
    background: url(./간편인증아이콘/SAMSUNGPASS.png) no-repeat;
    background-size: cover;
}

.naver {
    width: 35px;
    height: 35px;
    background: url(./간편인증아이콘/NAVER.png) no-repeat;
    background-size: cover;
}

.shinhan {
    width: 35px;
    height: 35px;
    background: url(./간편인증아이콘/shinhan.png) no-repeat;
    background-size: cover;
}


.ganpyeon_notice {
    margin-top: 30px;
    padding: 30px;
    width: 800px;
    height: 264x;
    background: #f0f5f9;
    position: relative;
}

.ganpyeon_notice strong::before {
    content: '';
    display: block;
    position: absolute;
    top: 32px;
    left: 30px;
    width: 25px;
    height: 25px;
    background: url(./check_circle_FILL0_wght400_GRAD0_opsz48.svg) no-repeat;
    background-size: cover;
}

.ganpyeon_notice strong {
    font-size: 20px;
    padding: 0 0 0 25px;
}


ul {
    list-style: none;
}

li {
    font-size: 15px;
    padding: 0 0 5px 12px;
}

.ganpyeon_notice p {
    font-size: 15px;
    margin: 10px 0 5px 0;
}

/* sec2 */



/* footer */
footer {
    /* background-color: #484848; */
    background-color: #2b2b2b;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .inner1400 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo {
    width: 112px;
    height: 62px;
    background: url(./Asset\ 1.png) no-repeat;
    background-size: cover;
    margin: 0 50px 0 0;
}

.info_text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.info_text p {
    font-size: 12px;
}

.left_box {
    display: flex;
    flex-direction: column;
    margin: 0 355px 0 0;
}

.left_box1 {
    display: flex;
    padding: 0 0 10px 0;
    position: relative;
}

.left_box1 p{
    position: relative;
}

.left_box1 p:nth-child(1) {
    margin: 0 10px 0 0;
}

.left_box1 p::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 12px;
    background: #fff;
    top: 3px;
    right: -5px;
}

.left_box1 p:last-child::after {
    display: none;
}

.footer_select {
    width: 135px;
    height: 30px;
}
/* footer */



/* 태블릿 */
@media all and (max-width: 1000px)
{
    .inner1400 {
        width: 95%;
    }

    header .top {
    display: flex;
    justify-content: space-between;
    }

    .logo {
        margin: 0 0 0 0;
    }
    
    .menu a {
        width: 102px;
        height: 39px;
        font-size: 20px;
    }

    .menu {
        margin: 0 50px 0 0;
    }

    .menu a:hover {
        width: 102px;
        height: 39px;
        font-size: 20px;
    }

    .sec1 h1 {
        font-size: 25px;
    }

    .left {
        width: 100%;
        overflow: hidden;
    }

    .content_box {
        position: relative;
    }

    .map iframe {
        width: 100%;
        height: calc(100vh - 260px);
    }

    /* #map {
        width: 100%;
        height: calc(100vh - 260px);
    } */

    .right {
        position: fixed;
        right: -1000px;
        overflow: hidden;
        z-index: 10;
        outline: 1px solid rgb(160, 160, 160);
    }

    .right.on {
        position: absolute;
        right: 0;
        background: #fff;
    }

    .right .pyochal_search {
        padding: 5px 0 0 0;
    }

    .footer_logo {
        margin: 0 20px 0 0;
    }

    .info_text p {
        font-size: 10px;
    }

    .left_box {
        margin: 0 18px 0 0;
    }

    .left_box1 p::after {
        height: 10px;
        top: 3px;
        right: -6px;
    }
}
/* 태블릿 */


/* 모바일 */
@media all and (max-width: 600px) 
{
    header {
        height: 80px;
    }

    .logo {
        width: 101px;
        height: 56px;
        margin: 0 30px 0 0;
    }

    .menu a {
        width: 80px;
        height: 39px;
        font-size: 15px;

    }

    .menu {
        margin: 0 10px 0 0;
    }

    .menu a:hover {
        width: 80px;
        height: 39px;
        font-size: 15px;
    }

    .menu a:nth-child(1) {
        margin: 0 10px 0 0;
    }

    .sec1 h1 {
        font-size: 20px;
    }

    footer {
        height: 200px;
    }

    .footer_logo {
        width: 101px;
        height: 56px;
    }

    footer .inner1400 {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    footer a:first-child {
        padding: 0 0 20px 10px;
    }

    .info_text {
        padding: 0 0 0 15px;
        flex-direction: column;
    }

    .left_box {
        margin: 0 5px 0 0;
    }

    .right_box {
        padding: 15px 138px 0 5px;
    }

    .left_box1 p::after {
        height: 10px;
        top: 2px;
        right: -6px;
    }
}