@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid #000; */
    word-break: keep-all;
}


h1 {
    font-size: 50px;
    color: #fff;
    padding: 200px 0 50px 0;
    text-shadow: 3px 3px 10px #000000;
}

h2 {
    font-size: 35px;
    color: #fff;
    padding: 0 0 25px 0;
    text-shadow: 3px 3px 10px #000000;
}

h3 {
    font-size: 18px;
    color: #fff;
    text-shadow: 3px 3px 10px #000000;
}

h4 {
    font-size: 30px;
}

.inner1400 {
    width: 1400px;
    margin: 0 auto;
}

/* header */
header {
    display: flex;
    align-items: center;
    height: 100px;
    background: #000000;
}

header .inner1400 {
    display: flex;
    align-items: center;
}

header .top_logo {
    width: 328px;
    height: 68px;
    background: url(./logo.png) no-repeat;
    background-size: cover;
}

/* header */

/* sec1 */
.sec1 {
    height: 1200px;
    background: url(./도로사진/우측\ 가로등-lightness.png) no-repeat;
    background-size: cover;
}

.sec1 .inner1400 {
    text-align: center;
    align-items: center;
}

.about_roadlight h2 {
    padding: 50px 0 15px 0;
}

.about_roadlight p {
    font-size: 18px;
    color: #fff;
    padding: 0 0 50px 0;
    text-shadow: 3px 3px 10px #000000;
}

.system_cycle {
    border: 3px solid #fff;
    border-radius: 10px;
}

.system_cycle h2 {
    padding: 30px 0 20px 0;
}

.card_list {
    display: flex;
    padding: 0 20px;
}

.cardbox1 {
    display: flex;
}

.cardbox2 {
    display: flex;
}

.card {
    padding: 0 10px;
}

.card p {
    color: #fff;
    font-size: 12px;
    padding: 10px 0 30px 0;
    line-height: 130%;
    text-shadow: 3px 3px 10px #000000;
}

.icon_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon.n1 {
    width: 70px;
    height: 70px;
    background: url(./민원인고장신고.svg) no-repeat;
    background-size: cover;
}

.icon.n2 {
    width: 70px;
    height: 70px;
    background: url(./신고접수및작업지시.svg) no-repeat;
    background-size: cover;
}

.icon.n3 {
    width: 70px;
    height: 70px;
    background: url(./보수업체고장수리.svg) no-repeat;
    background-size: cover;
}

.icon.n4 {
    width: 70px;
    height: 70px;
    background: url(./작업완료보고.svg) no-repeat;
    background-size: cover;
}

.icon.n5 {
    width: 70px;
    height: 70px;
    background: url(./수리내역확인및승인.svg) no-repeat;
    background-size: cover;
}

.icon.n6 {
    width: 70px;
    height: 70px;
    background: url(./처리내용보고.svg) no-repeat;
    background-size: cover;
}


.bt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;

}

.left_bt_box {
    padding: 0 192px 0 0;
}

.left_bt {
    width: 243px;
    height: 169px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 12px 0;
    background-color: #fff;
}

.left_bt:hover {
    width: 243px;
    height: 169px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 12px 0 #000;
    color: #FF9900;
    text-decoration: underline 2px solid #ff9900;
}

.singo {
    width: 71px;
    height: 64px;
    background: url(./black-24dp/construction_FILL0_wght400_GRAD0_opsz48.svg) no-repeat;
    background-size: cover;
}

.left_bt:hover .singo {
    background: url(./고장신고-hover.svg) no-repeat;
    background-size: cover;
}

.right_bt {
    width: 243px;
    height: 169px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 12px 0;
    background-color: #fff;
}

.right_bt:hover {
    width: 243px;
    height: 169px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 12px 0 #000;
    color: #FF9900;
    text-decoration: underline 2px solid #ff9900;
}

.cheoli {
    width: 71px;
    height: 64px;
    background: url(./engineering_FILL0_wght400_GRAD0_opsz48.svg) no-repeat;
    background-size: cover;
}

.right_bt:hover .cheoli {
    background: url(./처리현황-hover.svg) no-repeat;
    background-size: cover;
}

.bt a {
    text-decoration: none;
    color: #000;
}

/* sec1 */


/* footer */
footer {
    /* background-color: #484848; */
    background-color: #2b2b2b;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .inner1400 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo {
    width: 250px;
    height: 55px;
    background: url(./logo.png) no-repeat;
    background-size: cover;
    margin: 0 50px 0 0;
}

.info_text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.info_text p {
    font-size: 12px;
}

.left_box {
    display: flex;
    flex-direction: column;
    margin: 0 355px 0 0;
}

.left_box1 {
    display: flex;
    padding: 0 0 10px 0;
    position: relative;
}

.left_box1 p {
    position: relative;
}

.left_box1 p:nth-child(1) {
    margin: 0 10px 0 0;
}

.left_box1 p::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 12px;
    background: #fff;
    top: 5px;
    right: -5px;
}

.left_box1 p:last-child::after {
    display: none;
}

.footer_select {
    width: 135px;
    height: 30px;
}

/* footer */



/* 태블릿 */
@media all and (max-width: 1000px) {
    body {
        width: 100%;
    }

    .inner1400 {
        width: 95%;
    }

    h1 {
        /* font-size: 25px; */
        font-size: 1.7rem;
    }

    h2 {
        /* font-size: 25px; */
        font-size: 1.6rem;
    }

    h3 {
        /* font-size: 14px; */
        font-size: 0.7rem;
    }

    h4 {
        /* font-size: 20px; */
        font-size: 1.6rem;
    }

    .about_roadlight p {
        /* font-size: 15px; */
        font-size: 1.0rem;
    }

    .card {
        padding: 0 5px;
    }

    .card p {
        /* font-size: 11px; */
        font-size: 0.5rem;
    }

    .icon_box .icon {
        width: 40px;
        height: 40px;
    }

    .left_bt {
        width: 204px;
        height: 139px;
        /* width: 12.8em; */
        /* height: 9em; */
        /* width: 200%; */
        /* height: 140%; */
    }

    .left_bt:hover {
        width: 204px;
        height: 139px;
        /* width: 200%; */
    }

    .right_bt {
        width: 204px;
        height: 139px;
        /* width: 200%; */
        /* width: 12.8em; */
        /* height: 9em; */
    }

    .right_bt:hover {
        width: 204px;
        height: 139px;
        /* width: 200%; */
    }

    .left_bt_box {
        padding: 0 100px 0 0;
    }

    .singo {
        width: 51px;
        height: 44px;
    }

    .cheoli {
        width: 51px;
        height: 44px;
    }

    .bt {
        padding: 100px 0;
    }

    .footer_logo {
        margin: 0 20px 0 0;
    }

    .info_text p {
        font-size: 10px;
    }

    .left_box {
        margin: 0 30px 0 0;
    }

    .left_box1 p::after {
        height: 10px;
        top: 3px;
        right: -6px;
    }
}

/* 태블릿 */


/* 모바일 */
@media all and (max-width: 600px) {

    header {
        height: 80px;
    }

    header .top_logo {
        width: 192px;
        height: 43px;
        margin: 0 0 0 0;
    }

    .sec1 {
        height: 1100px;
    }

    h1 {
        font-size: 1.6rem;
        padding: 100px 0 50px 0;
    }

    h2 {
        font-size: 1.2rem
    }

    h3 {
        font-size: 0.4rem;
        width: 95px;
    }

    h4 {
        font-size: 1.0rem;
    }

    .about_roadlight p {
        font-size: 0.85rem;
    }

    .card_list {
        display: flex;
        flex-direction: column;
    }

    .cardbox1 {
        display: flex;
        justify-content: center;
    }

    .cardbox2 {
        display: flex;
        justify-content: center;
        padding: 0 0 25px 0;
    }

    .card {
        padding: 5px 5px;
    }

    .card p {
        display: none;
    }

    .icon_box .icon {
        width: 30px;
        height: 30px;
    }

    .bt {
        padding: 70px;
        flex-direction: column;
        ;
    }

    .left_bt {
        width: 200px;
        height: 120px;
    }

    .left_bt:hover {
        width: 200px;
        height: 120px;
    }

    .right_bt {
        width: 200px;
        height: 120px;
    }

    .right_bt:hover {
        width: 200px;
        height: 120px;
    }

    .left_bt_box {
        padding: 0 0 50px 0;
    }

    .singo {
        width: 41px;
        height: 34px;
    }

    .cheoli {
        width: 41px;
        height: 34px;
    }

    footer {
        height: 200px;
    }

    .footer_logo {
        width: 200px;
        height: 43px;
    }

    footer .inner1400 {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    footer a:first-child {
        padding: 0 0 20px 10px;
    }

    .info_text {
        padding: 0 0 0 15px;
        flex-direction: column;
    }

    .left_box {
        margin: 0 5px 0 0;
    }

    .right_box {
        padding: 15px 138px 0 5px;
    }

    .left_box1 p::after {
        height: 10px;
        top: 2px;
        right: -6px;
    }

}